<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <title>Welcome!</title>
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#education" data-value="education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project" data-value="project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>

          </ul>
        </div>
      </nav>            <!-- Navigation Bar End -->


    <!-- Header -->
    <header class="header" id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="description">
                <h1>Christian Benitez</h1>
                <p>
                    I’m am currently a 4th year pursuing a <span class="shadow">Bachelor’s of Science</span> in <span class="shadow">Electrical Engineering</span> at the <span class="shadow">University of California, San Diego</span> with an expected graduation in <span class="shadow">June 2019</span>.
                    I am currently looking for new opportunities that will challenge me to advance my career and to make a positive impact on this world.
                </p>
                <i class="fas fa-2x fa-envelope-square" href="mailto:christian.p.benitez@gmail.com"></i>
                <i class="fab fa-2x fa-linkedin" href="https://www.linkedin.com/in/christian-p-benitez/"></i>
                <i class="fab fa-2x fa-github-square" href="https://github.com/cpbenite"></i>

            </div>

        </div>
    </header> <!-- Header End -->


    <div class="education" id="education">
      <h1 class="text-center">Education</h1>
      <div class="container">
        <div class="resume-section">
          <h3>University of California, San Diego</h3>
          <h5>Pursuing Bachelor's of Science in Electrical Engineering</h5>
          <p>2015 - 2019</p>
          <p>Relevant Coursework: Introduction to Programming, Introduction to Product Engineering, Product Marketing & Management</p>
        </div>
        <div class="resume-section">
          <h3>FreeCodeCamp</h3>
          <h5>Responsive Web Design Certification (300 Hours)</h5>
          <p>2018 - Ongoing</p>
          <p>Relevant Coursework: HTML, CSS, Responsive Web Design, Basic/Intermediate Algorithm Scripting</p>
        </div>
      </div>
    </div>

    <div class="project" id="project">
        <div class="container">
        <h1 class="text-center">Projects</h1>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="images/wheelchair.jpeg" class="img-fluid">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Smart WheelChair</h4>
                            <p class="card-text">
                              A low cost, autonomous-solution to the powered wheelchair market.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="images/USB.png" class="img-fluid">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">USB Power Supply</h4>
                            <p class="card-text">
                              Designed and simulated a USB Power Supply using PSIM.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="images/car.jpg" class="img-fluid">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Line Follower Robot</h4>
                            <p class="card-text">
                              Typical end-of-the-year project fam.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>              <!-- Blog End -->

    <!-- Contact Form -->
    <div class="contact-form" id="contact">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h1>Connect with me!</h1>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="YourName@email.com">
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <input type="submit" class="btn btn-warning btn-block" value="Send" name="">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Personal Javascript tags -->
    <script type="text/javascript" src='js/main.js'></script>

  </body>
</html>
